.App {
  text-align: center;
}

.icon-selected {
  background-color: #3f51b5;
  border-radius: 50%;
}

.row-selected {
  background-color: rgba(63, 81, 181, 0.70) !important;

}

.icon-hoverable {
  cursor: pointer;
}

.stats-container {
  margin-top: 5px !important;
}

.circle {
  display: flex;
  flex-direction: column;
  background-color:rgba(255, 255, 255, 0);
  border:3px solid #3f51b5;    
  height: 10rem;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width: 10rem;
  justify-content: center;
  align-items: center;
}

.circle>*:first-child {
  align-self: stretch;
}

.circle>*:last-child {
  align-self: stretch;
}

.first-placement-svg {
  filter: invert(85%) sepia(14%) saturate(6951%) hue-rotate(1deg) brightness(105%) contrast(105%);
}

.fifth-placement-svg {
  filter: invert(98%) sepia(1%) saturate(355%) hue-rotate(200deg) brightness(89%) contrast(90%);
}

.fifteen-placement-svg {
  filter: invert(69%) sepia(52%) saturate(372%) hue-rotate(347deg) brightness(87%) contrast(96%);
}
