.App {
  text-align: center;
}

.icon-selected {
  background-color: #3f51b5;
  border-radius: 50%;
}

.icon-hoverable {
  cursor: pointer;
}

.stats-container {
  margin-top: 5px !important;
}

.circle {
  display: flex;
  background-color:rgba(255, 255, 255, 0);
  border:3px solid #3f51b5;    
  height: 10rem;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width: 10rem;
  justify-content: center;
  align-items: center;
}